footer {
    background-color: $font-color-secondary;
    // border-top: 1px solid black;
    p {
        color: white;
        font-size: $font-size-default;
        a {
            color: $color-primary;
        }
    }
}