header .container {

    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;

    .hero {
        align-items: flex-end;
        background-image: url('../assets/images/banner-lance-me.png');
        background-repeat: no-repeat;
        background-position: top center;
        height: 45rem;
        display: flex;
        padding-bottom: 4rem;
        width: 100%;
        overflow: hidden;

        h1 {
            padding: 1rem 0 0;
            text-align: center;
            width: 100%;
        }

        @media (max-width:767px){
            background-size: 150% ;
            background-position: center center;

            img{
                margin-left: -50%;
                width: 20px;
                position: relative;
                max-width: none;
                margin-right: -68%;
                margin-top: 90px;
            }
        } 
        @media (min-width:767px) and (max-width:1199px){
            background-size: 85% ;
            background-position: center center;


        } 
}

}