#como-funciona {
    background: $color-primary;

    h1 {
        color: $color-secondary
    }
}

.steps {
    background-color: rgb(201, 201, 201);
    border: 1px solid rgb(228, 160, 13);
    border-radius: 20px;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;

    &__item {
        // background-color: rgb(32, 121, 199);
        margin: 1rem;
        // width: calc(80% / 5 - 1rem);
        text-align: center;
        span {
            color: $color-secondary;
        }
    }

}